<app-header titulo="Fab"></app-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="logo-facebook" color="face"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-linkedin" color="linke"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-youtube" color="yt"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-x" color="x"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-list>
  @for (item of items; track item; let i = $index) {
    <ion-item>
      <ion-label>CM{{i+1}}</ion-label>
    </ion-item>
  }
</ion-list>
