<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio APP de Catalina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (elemento of Elementos; track elemento) {
      <ion-item [routerLink]="elemento.redirectTo" detail>
        <ion-icon [name]="elemento.icon" slot="start" color="tertiary"></ion-icon>
        {{ elemento.name }}
      </ion-item>
    }
  </ion-list>

  <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/card">Card</ion-button>
  <ion-button routerLink="/datetime">Date Time</ion-button>
  <ion-button routerLink="/checkbox">Check Box</ion-button>
  <ion-button routerLink="/fab">Fab</ion-button>
  <ion-button routerLink="/grid">Grid</ion-button>
  <ion-button routerLink="/infinite">infinite</ion-button>
  <ion-button routerLink="/input">input</ion-button>
  <ion-button routerLink="/modal">Modal</ion-button>
  <ion-button routerLink="/popover">Popover</ion-button>
  <ion-button routerLink="/list">List</ion-button>

</ion-content>